{% extends 'base.html' %}

{% block content %}

<h2>Deleted Products</h2>

<table>

<tr>

    <th>ID</th>
    <th>Name</th>
    <th>Category</th>
    <th>Action</th>

</tr>

{% for product in products %}

<tr>

    <td>{{ product.id }}</td>

    <td>{{ product.product_name }}</td>

    <td>{{ product.category }}</td>

    <td>

        <a
        href="{% url 'restore_product' product.id %}"
        class="btn">
        Restore
        </a>

    </td>

</tr>

{% endfor %}

</table>

{% endblock %}